###### first of all connecting pyhton to database with the help of .conncetor() method

In [55]:
##here are some following methods of this sql conncetor which we will use
dir(mysql.connector)

['BINARY',
 'Binary',
 'CMySQLConnection',
 'CharacterSet',
 'ClientFlag',
 'Connect',
 'DATETIME',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'FieldFlag',
 'FieldType',
 'HAVE_CEXT',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'MySQLConnection',
 'NUMBER',
 'NotSupportedError',
 'OperationalError',
 'PoolError',
 'ProgrammingError',
 'ROWID',
 'RefreshOption',
 'STRING',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__version_info__',
 'abstracts',
 'apilevel',
 'authentication',
 'charsets',
 'connect',
 'connection',
 'connection_cext',
 'constants',
 'conversion',
 'cursor',
 'cursor_cext',
 'custom_error_exception',
 'custom_types',
 'dbapi',
 'errorcode',
 'errors',
 'locales',
 'logger',
 'network',
 'opentelemetry',
 'optionfiles',
 'paramstyle',
 'plugins',
 'pooling',
 'protocol',
 'threadsafety',
 'types',
 'utils',
 'version']

In [57]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Meesam_rizvi69"
)
## .connect() is way to connect to a database it takes 3 parameters host , user , password 
## where host defines the location of your MySQL server and database.
## user is the name of the server and password is the password of that server.
if db.is_connected():
    print("Database Connected")
# db = (mysql.connector.connect).is_connected() is a method it returns true if db is connnected else false

Database Connected

In [60]:
# query -->  a query is any command used to retrieve data from a table
# cursor --> an object that is used to process data returned by an SQL query, one row at a time it fetches data  from record it excutes query
# "127.0.0.1" and local host are same

# Establish connection to the database: Here, we establish a connection to the MySQL database server. You need to provide the hostname (host), username (user), password (passwd), and the name of the database you want to connect to (database)
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69"
)

cur = db.cursor()
#Create cursor object: Once the connection is established, we create a cursor object. A cursor allows us to execute SQL queries and fetch results.

cur.execute("show databases")
#Execute the query: We execute an SQL query to show all databases available on the MySQL server.

for i in cur:
    print(i)

('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [62]:
import mysql.connector

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69"
)

cur = db.cursor()


cur.execute("create database ALI")
print("Database created successfully!")

DatabaseError: 1007 (HY000): Can't create database 'ali'; database exists

In [64]:
## to avoid error while creating database or tables use if not exists like this 
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69"
)

cur = db.cursor()


cur.execute("create database if not exists ALI")
print("Database created successfully!")

Database created successfully!

In [65]:
## to change database there are two methods 

#method 1

In [66]:
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69"
)

cur = db.cursor()


cur.execute("use ALI")
print("Database Changed successfully!")

Database Changed successfully!

In [68]:
# method 2
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)

if db.is_connected():
    print("Database Connected!")

Database Connected!

In [72]:
## now creating table in that database...
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
sql = """create table abba(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(20), fname VARCHAR(20))"""
cur.execute(sql)
print("Table Created !!!")

ProgrammingError: 1050 (42S01): Table 'abba' already exists

In [78]:
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
sql = """create table if not exists abba(id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(20), fname VARCHAR(20))"""
cur.execute(sql)
print("Table Created !!!")

Table Created !!!

In [76]:
## checking how many tables in that paticular datbase
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
cur.execute("show tables")
for i in cur:
    print(i)
    print(type(i))

('abba',)
<class 'tuple'>

In [81]:
#inserting values in that particular and that particular database:
# db.commit() is used to transfer all the data to that particular tables with out any leakage 

db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
sql = "insert into abba(name, fname) VALUES (%s, %s)"
values = ("meesam","ali")
cur.execute(sql,values)
db.commit()
print(f"{cur.rowcount} data added")

1 data added

In [83]:
## now inserting multiple values 
# cur.rowcount is used to check how manys rows are affeceted with this
# now you are entring multiple data init so you have to change execute to excutemany
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
sql = "insert into abba(name, fname) VALUES (%s, %s)"
values = [
    ("haider","ali"),
    ("abbas","haider"),
    ("ali","abbas")
]
cur.executemany(sql,values)
db.commit()
print(f"{cur.rowcount} data added")

3 data added

In [85]:
## now selecting all data from table and showing it on database
## cur.fetchall() is used to show all the tables from a paticular table
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
cur.execute("select * from abba")
data = cur.fetchall() 
for i in data:
    print(i)

(5, 'meesam', 'ali')
(6, 'meesam', 'ali')
(7, 'meesam', 'ali')
(8, 'haider', 'ali')
(9, 'abbas', 'haider')
(10, 'ali', 'abbas')

In [87]:
## to close a server u can use db.close() (disconnecting from server)
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
cur.execute("select * from abba")
data = cur.fetchall() 
for i in data:
    print(i)


db.close()

(5, 'meesam', 'ali')
(6, 'meesam', 'ali')
(7, 'meesam', 'ali')
(8, 'haider', 'ali')
(9, 'abbas', 'haider')
(10, 'ali', 'abbas')

In [5]:
##selecticng specific data from list 

import mysql.connector
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
cur.execute("select * from abba where fname = 'ali'")
data = cur.fetchall() 
for i in data:
    print(i)


db.close()

(5, 'meesam', 'ali')
(6, 'meesam', 'ali')
(7, 'meesam', 'ali')
(8, 'haider', 'ali')

In [7]:
## deleteing specific data from list 

import mysql.connector
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
cur.execute("delete from abba where fname = 'ali'")
db.commit()

print(cur.rowcount, "record(s) deleted")

0 record(s) deleted

In [8]:
## showing record
import mysql.connector
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
cur.execute("select * from abba")
data = cur.fetchall() 
for i in data:
    print(i)


db.close()

(9, 'abbas', 'haider')
(10, 'ali', 'abbas')

In [12]:
## updating specific data

import mysql.connector
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Meesam_rizvi69",
    database = "ALI"
)
cur = db.cursor()
sql = "UPDATE abba SET fname = 'haider' WHERE name = 'ali'"
cur.execute(sql)
db.commit
print(f"{cur.rowcount} row(s) affected")

1 row(s) affected