## SQL
##### stands for structured query language it is widely used for database management system

## RDBMS
##### stands for Relational Database Management System  relational database management system (RDBMS) is a program used to create, update, and manage relational databases. A relational database includes tables containing rows and columns.

## Primary Key
##### a column in a relational database table that's distinctive (Muktalif) for each record

### Commands for MYSQL.

In [2]:
# show databases; is used to show/display the avaliable databases.
# create database `Name of DB`; is used to create database
# create database if not exists `Name of DB`; is used to create database (but this prevent error if database exist of same name)
# use Name of DB ; is used to change database
# create table nameoftable (properties); is used to create a table and in properties u will define its row and column
# for e.g :- 
#        employee_id INT(10), employee_name VARCHAR(255), employee_address VARCHAR(255)
#        VARCHAR--> for String
#        INT --> for Numbers
#        AUTO_INCREMENT --> to increase it automatically 
# create table if not exists (properties); is used to create a table (but this prevents error if database exists of same name)
# show tables; is used to show/display the available Tables in that database.
# desc name of table; is used to describe the properties of table.
# insert into table name(properties) values(values for that properties) ; is used to insert values in its particular table 
# select * from name of table; is used to show all (retrive) the data from that table

In [3]:
# select * from (name of table) Where (name of row) = "xyz" ; it will fetch all the data where name of row consist of this xyz
# select * from (name of table) order by (property) asc/desc; where asc means ascending order  and desc means descending orders {The query "SELECT * FROM employee ORDER BY employee_name ASC;" retrieves all records from the "employee" table and arranges them in ascending order based on the values in the "employee_name" column.
# delete from (name of table) where (property)='variable in that property'; is used to delete that property from the table
# alter table (name of table) drop column (property); The query "ALTER TABLE employee DROP COLUMN employee_address;" in MySQL alters the "employee" table by removing or dropping the column named "employee_address" from the table's structure. This action permanently deletes the specified column and its data from the table.

In [ ]:
# update table name set propertyname = "new name" where propertyname = "old name"
# ----> in this,set will be used to set propertyname to new and where will provide it existing.
# update (tablename) set (property) ="Black Panter", (property) ="Waganda, Africa" where (property) =8;
# with limit you can set limit while selecting rows in tables 
# select * from (table name) limit 4;
# with offeset you can skip rows.
# drop data base is used is too delete an entire data base